<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--  Configure log level for our application code  -->
    <logger name="com.karthik" level="debug"/>
    <!--    To log every request -->
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug"/>
</configuration>